
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head(title)">
    <meta charset="UTF-8" />
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" th:fragment="menu(menu)">
    <a class="navbar-brand" href="/oauth2/authorization/naver?redirect_uri=http://localhost:3000/oauth/redirect">네이버</a>
    <a class="navbar-brand" href="/oauth2/authorization/kakao?redirect_uri=http://localhost:3000/oauth/redirect">kakao</a>
    <a class="navbar-brand" href="/oauth2/authorization/google?redirect_uri=http://localhost:3000">google</a>
</nav>
</body>

</html>